@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

/* Add some styles for body*/
body {
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    background: #000;
    color: #cbd5e1;
    font-family: 'Sora', sans-serif;
    line-height: 1.5;
    background-image: 
        radial-gradient(circle at 7% 7%, #652CD1 -50%, transparent 27.98%),
        radial-gradient(circle at 98% 98%, #652CD1 -50%, transparent 27.98%);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
    align-content: center;
}

.container-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}


.isTrusted{
    background-color: #652CD1 !important;
    border: 1px solid #845EEE !important;
    color: white !important;
}

.invalid{
    border: 2px solid #6f383b !important;
}

.d-none{
    display: none;
}